{{name}}
<button onclick={{action "toggleCollapse"}} >
  {{#if collapsed}}
    Show Source Code
  {{else}}
    Hide Source Code
  {{/if}}
</button>

{{#bs-collapse collapsed=collapsed}}
  <div class="well">
    {{#bs-tab as |bt|}}
      {{#each filesToDisplay as |file|}}
        {{#bt.pane title=file}}
          {{#let (get-code-snippet file unindent=false) as |snippet|}}
            <CodeBlock @language="javascript" >{{snippet.source}}</CodeBlock>
          {{/let}}
        {{/bt.pane}}
      {{/each}}
    {{/bs-tab}}
  </div>
{{/bs-collapse}}

<br>
{{yield}}
<br>