{{name}}
<button onclick={{action "toggleCollapse"}} >
  {{#if collapsed}}
    Show Source Code
  {{else}}
    Hide Source Code
  {{/if}}
</button>

<div style={{if collapsed "visibility: hidden;height: 0px;" ""}} >
  {{#each filesToDisplay as |file|}}
    {{file}}
    {{#let (get-code-snippet file unindent=false) as |snippet|}}
      <pre class={{snippet.language}}>{{snippet.source}}</pre>
    {{/let}}
  {{/each}}
</div>
<br>
{{yield}}
<br>